* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --brand-green: #00856F;
    --purple: #60267F;

}

.fontRoboto{
    font-family: "Roboto", sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerTwo {
    font-size: 3rem;
    color: #000;
}

.topLine {
    background-color: var(--purple);
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}

.topLineSpan {
    text-decoration: underline;
}

.headerContainer
 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.068) ;
}
.headerUl {
    display:flex;
    gap: 20px;
}
.navigationContainer { 
    gap: 20px;
}
.headerList {
    list-style: none;
    
}
.headerList a {
    text-decoration: none;
    color: #2B0236;
}
.headerBtn {
    padding: 5px 8px;
    background: none;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    color: #9A54BC;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.headerBtn:hover {
    background-color: #9A54BC;
    color: #fff;
    cursor: pointer;
}

.section1 {
    margin-top:100px;
}

.headingContainer {
    text-align: center;
    gap: 50px;
}

.heading {
    font-size: 3rem;
    color: #2B0236;
}
.headingBtn {
    padding: 20px 32px;
    background-color: #9A54BC;
    color: #fff;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s easy-in-out;
    cursor:pointer;
}
.headingBtn:hover {
    background-color: #fff;
    color: #9A54BC;

}
.firstPhoneContainer {
    height: 500px;
}
.relative {
    position:relative;
    top: 0;
}
.absolute {
    position:absolute;
}
.smallElipse {
    top:65px;
}
.rectangle {
    top:80px;
}
.collabWord{
    top:175px;
}
.elipseBtn {
    top: 363px;
    width: 147px;
    padding: 4px 14px;
    color: var(--purple);
    border: 2px solid #9A54BC;
    border-radius:5px;
    background-color:#fff;
    font-weight:500;
}
.topBrandsContainer {
    gap: 50px;

}
.iconsContainer {
    gap: 100px;
    justify-content: space-between;
}

.iconsContainer img {
    width:215px;
    height: 159px;

}
.collabAppHelpContainer {
    margin-top: 100px;
    gap: 75px;
}

.mainContainer{
    justify-content: space-between;
}
.leftParaContainer {
    width: 60%;
}
.buttonContainer {
    display: flex;
    width: 100%;
    background-color: #9A54BC;
    ;
    border-radius: 5px;
    padding: 2px 2px;
    gap: 5px;
    -webkit-box-shadow: 0px 11px 10px -14px #000000; 
box-shadow: 0px 11px 10px -14px #000000;

}
.buttonContainer button{
    width: 50%;
    padding: 10px;
    border: 2px solid #9A54BC;
    background-color: transparent;
    border-radius: 5px;
}
.buttonContainer button:hover {
    border: 2px solid #9A54BC;
    background-color: var(--purple);
    color: white;
}
.paraContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.paraContainer p {
    background-color: #f2f2f2;
    padding: 1rem;
}
.paraContainer p span {
    font-weight: 700;
}

.RightImgContainer {
    width: 55%;
    padding-top:70px;
}

.RightImgContainer img {
    width: 300px;
}
.budgetContainer {
    margin-top: 100px;
    gap: 30px;
}
.budgetContainer p {
    font-size: 24px;
    text-align: center;
}
.projectsDoneContainer {
    margin-top: 100px;
    gap:50px;
}
.projectDoneCardsContainer {
    width: 80%;
    justify-content: space-evenly;
}
.card {
    align-items: flex-start;
    gap:20px;
}
.card > span {
    margin-left: 20px;
}
.card img {
    width: 300px;
}
.projectDoneCardHeader{
    color: var(--purple);
    font-weight: 500;
}
.projectDoneCardNumber {
    font-weight: 700;
}

.bigCardsContainer {
    gap: 20px;
    margin-top:200px;
}
.bigCardsTopPara {
    color: #A79D9D;
    font-size: 12px;
}
.monthlyYearlyContainer {
    gap: 10px;
    margin-top: 30px;
    font-size: 1rem;
}
.montly {
    color: #A79D9D;
}
.yearly {
    font-weight: 500;
}
.discount {
    background-color: #FFE87A;
    font-size: 10px;
    padding: 4px;
    border-radius: 3px;
}
.threeBigCardContainer {
    margin-top:25px;
    gap: 50px;

}
.bigCard {
    width: 300px;
    height: 500px;
    border: 0.5px solid #AAAAAA;
    padding: 20px 30px;
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.bigCard p {
    font-size: 16px;
    font-weight: 500;
}
.bigCard button {
    padding: 15px 20px;
    background-color: var(--white);
    border: 2px solid #2B0236;
    font-weight: 700;
}
.bigCard button:hover {
    background-color: var(--purple);
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.bigCardListContainer {
    gap: 15px;
    align-items: flex-start;
}
.bigCardListContainer li {
    padding: 0 0 0 10px;
    font-size: 10px;
}

.bigCardListContainer li::marker {
    content: "▶";
}
.cardThree {
    background-color: #56E6A5;
}
.cardThree p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
    font-size: 18px;
}
.starContainer {
    margin-top: 100px;
    gap: 50px;
}
.starsImg {
    gap: 16px;
}

.starsImg img {
    width: 30px;
}

.starsPara {
    width: 85%;
    gap: 83px;
}

.starsPara p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 30px 63px;
    text-align: center;
}
.starsPara img {
    width: 235px;
}
.starVeidukasirPara {
    gap: 10px;
}
.starVeidukasirPara img {
    width: 70px;
}
.joinUsContainer {
    margin-top: 193px;
    gap: 50px;
}
.joinUsPara {
    font-size:18px;
    font-weight:400;
    text-align: center;
}
.exploreOpp {
    padding: 12px 15px;
    color: var(--white);
    border: 2px solid #fff;
    border-radius:5px;
    background-color:#9A54BC;
    font-weight:400;

}
.MiniParaYou {
    color: #9A54BC;
    position: absolute;
    top: 5378px;
    left: 1191px;
} 
.JoinUsCrazyDiv {
    width: 90%;
}
.ntrk{
    width: 100px;
}
.JoinUsCrazyDiv img:nth-of-type(1) {
    position: absolute;
    top: 5261px;
    left: 109px;
    z-index: 1;
}
.JoinUsCrazyDiv img:nth-of-type(2) {
    position: absolute;
    top: 5464px;
    left: 276px;
    z-index: 1;  
}
.JoinUsCrazyDiv img:nth-of-type(3) {
    position: absolute;
    top: 5420px;
    left: 460px;
    z-index: 1;
}
.JoinUsCrazyDiv img:nth-of-type(4) {
    position: absolute;
    top: 5490px;
    left: 601px;
    z-index: 1; 
}
.JoinUsCrazyDiv img:nth-of-type(5) {
    position: absolute;
    top: 5533px;
    left: 802px;
    z-index: 1;
}
.JoinUsCrazyDiv img:nth-of-type(6) {
    position: absolute;
    top: 5493px;
    left: 1005px;
    z-index: 1;
}  
.JoinUsCrazyDiv img:nth-of-type(7) {
    position: absolute;
    top: 5523px;
    left: 1216px;
    z-index: 1;
}
.JoinUsCrazyDiv img:nth-of-type(8) {
    position: absolute;
    top: 5404px;
    left: 1304px;
    z-index: 1;
}
.longLine {
    position: absolute;
    top: 5300px;
    width: 80%;
    z-index: 0;
}
.downloadCollabContainer {
    margin-top: 400px;
    gap: 30px;
    background-color: #9A54BC;
    padding: 100px 100px;
}
.headerBig {
    color:#fff;
    font-size:55px;
}
.threeButtonSection {
    gap: 50px;
}
.threeButtonSection button {
    padding: 12px 15px;
    color: var(--white);
    border: 3px solid #fff;
    border-radius:5px;
    background-color:#9A54BC;
    font-weight:500;
}
.threeButtonSection button:hover {
    color: #9A54BC;
    background-color: #fff;
}
.mapQuestionContainer {
    gap:70px;
}
.questionLeftContainer {
    gap:20px;
}
.questionLeftContainer h2 {
    margin-bottom: 40px;
}
.questionLeftContainer span {
    font-weight: 500;
    font-size:20px;
}
.mapRightContainer {
    width:50%;
}